header h1 {
  color: #233535; 
  margin: 0; 
  margin-top: 26px;
  text-align: center;
  border: 0px solid rgb(154, 152, 152);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(125, 123, 123);
  height: 50px;
  padding: 20px;
  background-color: rgb(242, 245, 245);
}nav a {
  display: inline-block;
  color: #1c3a3a;
  font-weight:300.
  text-decoration: none;
  margin: 10px 15px;
} main {
  background-color: white;
  max-width: 700px; 
  margin: 50px auto; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  text-align: center;
} main p {
  color: #333;
  line-height: 1.6;
  font-size: 18px;
} strong {
  color: #b507217d;
  font-weight: bold;
}footer {
  text-align: center;
  padding: 15px;
  color: #616060;
  background-color: white;
  border-top: 1px solid #ddd;
}






