fieldset{
    background-color: rgb(250, 229, 233);
    justify-items: center;
        box-shadow: 1px 2px 9px grey;
}header nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
}.photo{
    margin-left:430px;
    border-radius: 16px;
}main{
    display: grid;
}header{
    border-bottom: 2px solid grey;
}body{
    margin: 0%;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: aliceblue;
    
}main{
display: grid;
grid-template-columns: repeat(2 , 1fr);
grid-template-rows: repeat(2 , 1fr);
column-gap: 2px;
row-gap: 20px;
gap: 20px;
margin-top: 60px;
}main h2{
    color: rgb(93, 10, 107);
    text-align: center;
} section{
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2PX 2PX 9PX grey;
    background-color: whitesmoke;
    text-align: center;
    line-height: 30px;
} .three table{
    margin-left: 100px;
    width: 350px;
    height: 200px;
    border-radius: 4px;
    border: 1px solid black;
}.three th{
border: 1px solid grey;
}.three td{
    border: 1px solid grey;
    color: rgb(67, 66, 66);
} .two ul, .four ul{
    list-style: none;
}footer nav{
text-align: center;
}.photo:hover{
    transform: rotateY(360deg);
    transition: 2s;
    box-shadow: 0 0 9px black;
}section:hover{
    background-color: rgb(247, 232, 235);
    transition: 3s;
}
